.title {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.fizzbuzz-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-input {
    margin-bottom: 1rem;
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
}

.numbers {
    font-size: 0.8rem;
    margin-top: 2rem;
    border: 1px solid black;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.numbers li {
    margin-right: .2rem;
}

.btn {
    margin-bottom: 1rem;
}